{
  "exclude": [
    "/node_modules[\\\/]core-js/",
    "/node_modules[\\\/]webpack[\\\/]buildin/"
  ],
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": ["@babel/plugin-transform-runtime"]
}