.color-list__label{
  cursor: pointer;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  width: auto;
}
.color-list__input{
  display: inline-block;
  margin: 0 5px 0 0;
}
.color-list__decrip{
  font-size: 14px;
}
.color-list__decrip::before{
  content: "-";
  display: inline;
  margin-right: 5px;
}