<ul class="color-list list list_vertical">
  @@include(
    'color-list/color-list__item/color-list__item.html', 
    {"value": "1", "description": "color 1"}
  )
  @@include(
    'color-list/color-list__item/color-list__item.html', 
    {"value": "2", "description": "color 2"}
  )
  @@include(
    'color-list/color-list__item/color-list__item.html', 
    {"value": "3", "description": "color 3"}
  )
  @@include(
    'color-list/color-list__item/color-list__item.html', 
    {"value": "4", "description": "color 4"}
  )
  @@include(
    'color-list/color-list__item/color-list__item.html', 
    {"value": "5", "description": "color 5"}
  )
</ul>